@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-right {
    clip-path: polygon(38% 0, 89% 0, 100% 100%, 54% 100%);
  }

  .clip-arrows {
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
  }

  .clip-up {
    clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
  }

  .clip-arrow-left {
    clip-path: polygon(65% 0, 60% 50%, 65% 100%, 0 100%, 0 0);
  }
}

@font-face {
  font-family: 'mutlu';
  src: local('mutlu'), url(./assets/Mutlu__Ornamental-webfont.woff) format('woff');
}

.font-mutlu {
  font-family: 'mutlu', sans-serif;
}

@font-face {
  font-family: 'fjalla';
  src: local('fjalla'), url(./assets/FjallaOne-Regular.ttf) format('truetype');
}

.fjalla-one-regular {
  font-family: "fjalla", serif;
  font-weight: 400;
  font-style: normal;
}

.pochaevsk-regular {
  font-family: "Pochaevsk", serif;
  font-weight: 400;
  font-style: normal;
}